.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
}

.header__logo {
    color: #a17856;
    text-decoration: none;
    font-size: 30px;
    font-family: "Labrada", serif ;
}

